# Mac stuff #
#############
.DS_Store

# IntelliJ Stuff #
##################
.idea/
out/
*.iml
*.html
# BlueJ Stuff #
###############
*.bluej
*.ctxt


# Everything Else #
###################
*.pdf
*.class
